<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="Account">
    <setting id="acc" label="Account" type="lsep"/>
    <setting id="rmn" type="text" label="Registered mobile number (RMN)" default=""/>
    <setting id="sid" type="text" label="Subscriber ID (SID) - auto if blank" default=""/>
    <setting id="sendotp" type="action" label="Send OTP" action="RunPlugin(plugin://plugin.video.binge/resources/lib/main/sendotp/)" option="close"/>
    <setting id="otp" type="text" label="Enter OTP received on phone" default=""/>
    <setting id="dologin" type="action" label="Verify OTP and login" action="RunPlugin(plugin://plugin.video.binge/resources/lib/main/dologin/)" option="close"/>
    <setting id="logout" type="action" label="Logout" action="RunPlugin(plugin://plugin.video.binge/resources/lib/main/logout/)" option="close"/>
  </category>

  <category label="Playback">
    <setting id="quality" type="labelenum" label="Max stream quality" values="SD|HD|Full HD|4K" default="HD" />
  </category>

  <category label="PVR">
    <setting id="m3ugen" type="action" label="Generate playlist.m3u" action="RunPlugin(plugin://plugin.video.binge/resources/lib/main/m3ugen/)" option="close"/>
    <setting id="reload" type="action" label="Reload channel list" action="RunPlugin(plugin://plugin.video.binge/resources/lib/main/reload/)" option="close"/>
  </category>

  <category label="Diagnostics">
    <setting id="uploadlog" type="action" label="Upload kodi.log for debugging" action="RunPlugin(plugin://plugin.video.binge/resources/lib/main/uploadlog/)" option="close"/>
  </category>

</settings>